body {
    height: 100%;
    background: #fff1ee repeat url("../images/bg-img.png");
    max-width: 360px;
    min-height: 800px;
    max-height: 800px;
    font-family: "Montserrat", "Roboto", sans-serif;
}

.main {
    margin: 0 auto;
}

.category-text h1 {
    width: 400px;
    margin-left: 15px;
    font-size: 30px;
    background: linear-gradient(45deg, #c28532 33%,  #d8a051 66%, #dcb071);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}